html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}                                                    /* RESET.CSS */

@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Pathway Extreme', sans-serif;
    color: #F0F0F0;
    background-color: #393646;
    height: 100%;
    width: 100%;
    overflow-x: hidden;  
    
}

::-webkit-scrollbar {
    background: #454545;  
  
}

::-webkit-scrollbar-thumb {
    background-color: #454545;    
    border-radius: 20px;       
    border: 1px solid #000000;  
     
}


#Pai {
    padding: 0px 10px 10px 0px;
}

#botao_menu {
    color:#FF6000;
    display: none;
    z-index: 2;
    position: fixed;   
    top: 30px;
    left: 20px;
    cursor: pointer;
    font-size: 5vh;
    transition: 0.3s;
}

#botao_menu:hover {
    transform: scale(1.1);
}


#Menu {
    position: fixed;
    background-color: #454545;
    box-shadow: 1px 1px 5px #0000006c;
    width: 220px;
    height: 100%;
    padding: 35px 25px 35px 25px;
    text-align: center;
    border-radius: 10px; 
    align-items: center;
    z-index: 1;
      
}


@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-50px);
        
        
    }
    to {
        opacity: 1;
        transform: translateX(0px);
        
        
    }
}

@keyframes saida {
    from {
        opacity: 1;
        transform: translateX(0px);
        
        
    }
    to {
        opacity: 0;
        transform: translateX(-30px);
        
        
    }

}

#avatar {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 3px solid #FF6000;
}

#nome_menu {
    font-size: 25px;
    margin-top: 5px;
}

#subtitulo_menu {
    font-size: 15px;
    margin-top: 4px;
}

#pointer_menu {
    position: relative;
    float: left;
    margin: 1px 0px 0px 45px;

}

#localidade_menu {
    text-align:left;
    font-size: 15px;
    margin-top: 5px;
}

#links_externos {
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 12px;   
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
 
}
.icones {
    width: 30px;
    height: 30px;
}

#linha_horizontal_menu {
    width: 100%;
    border: 1px solid #42403e;
   
    
}

#container_links_internos {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;


}

#links_internos {
    
    position: relative;
    top: 60px;
    list-style-type: none;
    font-size: 16px;
      
}

.elementos {
    padding: 30px;
    
}

#elementos_link_interno {
    text-decoration: none;
    color: #F0F0F0;
    
}

main {
    float: right;
    width: 1000px;
    height: 100%; 
    padding: 10px 20px 20px 20px ;      
}

.linha_vertical_main {
    height: 30px;
    float: left;
    border: 1px solid #FF6000;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 5px;
}


#Introducao { 
    height: 260px;
    position: relative; 
    z-index: 0;
    text-align: left;
    align-items: center;
          
}

#container_conteudo_introducao {
    margin-top: 15px;
    margin-left: 16px
    
}

#nome_introducao {
    font-size: 35px; 
    margin-bottom: 8px;   
}

#subtitulo_introducao {
    font-size: 20px;
    margin-bottom: 8px;  
    margin-left: 10px;  
}

#container_texto_introducao {
    font-size: 17px;
    Letter-spacing: 1.5px;
       
}

.info_introducao {
    margin-left:10px;
}

#container_Img {
    position: absolute;
    height: 500px;
    width: 500px;
    right: 10px;
    top: -125px;  
}

#foto_introducao {
    width: 100%;
    height: 100%;
}


#Formacao {
    
    height:300px;
    padding: 15px 20px 15px 0px;
}


#titulo_formacao {
    font-size: 25px;
    margin: 10px 10px 0px 0px;
    
}

#container_conteudo_formacao {
    font-size: 15px;
    margin: 20px 10px 10px 120px;
    text-align: left; 
}

#lista_formacoes {
   list-style: none;   
}

#lista_formacoes .nome_curso::before {
    content: '\2022';
    color: #FF6000;
    font-size: 35px;
    margin-right: 15px;          
} 

.nome_curso {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;  
    

    
}

#tecnologia_informacao {
    margin-top: 10px;
}

.info_curso {
    font-size: 17px;
    margin-left: 45px;
    margin-bottom: 5px;  
    Letter-spacing: 1.5px;

}

#Sobre {
    
    height: 410px;
    padding: 9px 20px 20px 0px;
}

#titulo_sobre {
    font-size: 25px;
    margin: 10px 10px 0px 0px;
    
}

#container_conteudo_sobre {
    margin: 30px 10px 10px 150px;
    text-align: left; 
    
}
    
.item_lista {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;  
}

.conteudo_lista {
    font-size: 17px;
    margin-left: 8px;
    padding: 5px;
    Letter-spacing: 1.5px;
}

#soft-skills_item {
    list-style-image: url(assets/Sobre/soft-skills_svg.svg);
}
#graduacao_item {
    list-style-image: url(assets/Sobre/graduacao_svg.svg);
}
#experiencias_item {
    list-style-image: url(assets/Sobre/experiencia_svg.svg);
}
#objetivos_item {
    list-style-image: url(assets/Sobre/objetivo_svg.svg); 
}

#Projetos {
    
    height: 450px;
    padding: 10px 0px 20px 0px;
}

#titulo_projeto {
    font-size: 25px;
    margin: 10px 10px 0px 0px;
}

#container_projetos {
    
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}    
 

.card {  
    opacity: 1;
    width: 250px;
    height: 370px;
    padding: 5px;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 3px #0000006c;
    border: 1px solid #FF6000;
    border-radius: 10px;
       
}

.titulo_projeto {
    padding: 5px;
    font-size: 18px;
}

.container_img_card {
    width: 230px;
    height: 170px;
    margin-left: 9px;
  
}

.foto_projeto {
    width: 100%;
    height: 100%;
    
    border-radius: 5px;
    
}

.icone_card  {
    width: 30px;
    height: 30px;
    padding: 0px 5px 0px 5px;
    margin-top: 5px;
    
}

.descricao_projeto {
    color: #F0F0F0;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.tec_projeto {
    color: #F0F0F0;
    font-size: 14px;
    margin-top: 70px;
}                                                        /* @MEDIA QUERY */


@media (max-width: 1310px) {

    #Introducao {
        width: 100%;
        margin-left: 10px;
    }

    #Formacao {
        width: 100%;
        margin-left: 10px;
        
    }

    #Sobre {
        width: 100%;
        margin-left: 10px;
    }

    #Projetos {
        width: 100%;
        margin-left: 10px;
    }

}

@media (max-width: 1300px) {

    #Introducao {
        margin-left: 20px;
    }
    
    #Formacao {
        margin-left: 20px;
        
    }
    
    #Sobre {
        margin-left: 20px;
    }
    
    #Projetos {
        margin-left: 20px;
    }
    
}

@media (max-width: 1290px) {

    #Introducao {
        margin-left: 30px;
    }

    #Formacao {
        margin-left: 30px;
        
    }

    #Sobre {
        margin-left: 30px;
    }

    #Projetos {
        margin-left: 30px;
    }

}

@media (max-width: 1280px) {

    #Introducao {
        margin-left: 40px;
    }

    #Formacao {
        margin-left: 40px;
        
    }

    #Sobre {
        margin-left: 40px;
    }

    #Projetos {
        margin-left: 40px;
    }

}

@media (max-width: 1270px) {

    #Introducao {
        margin-left: 50px;
    }

    #Formacao {
        margin-left: 50px;
        
    }

    #Sobre {
        margin-left: 50px;
    }

    #Projetos {
        margin-left: 50px;
    }

}

@media (max-width: 1260px) {

    #Introducao {
        margin-left: 60px;
    }

    #Formacao {
        margin-left: 60px;
        
    }

    #Sobre {
        margin-left: 60px;
    }

    #Projetos {
        margin-left: 60px;
    }

}

@media (max-width: 1250px) {

    #Introducao {
        margin-left: 70px;
    }

    #Formacao {
        margin-left: 70px;
        
    }

    #Sobre {
        margin-left: 70px;
    }

    #container_conteudo_sobre {
        margin-left: 115px;
    }

    #Projetos {
        margin-left: 70px;
    }

}

@media (max-width: 1240px) {

    #Introducao {
        margin-left: 80px;
    }

    #Formacao {
        margin-left: 80px;
        
    }

    #Sobre {
        margin-left: 80px;
    }

    #container_conteudo_sobre {
        margin-left: 110px;
    }

    #Projetos {
        margin-left: 80px;
    }
    
    #container_projetos {
        margin-right: 20px;
    }

}

@media (max-width: 1230px) {

    #Introducao {
        margin-left: 90px;
    }

    #Formacao {
        margin-left: 90px;
        
    }

    #Sobre {
        margin-left: 90px;
    }

    #container_conteudo_sobre {
        margin-left: 105px;
    }

    #Projetos {
        margin-left: 90px;
    }

    #container_projetos {
        margin-right: 30px;
    }


}

@media (max-width: 1220px) {

    #Introducao {
        margin-left: 100px;
    }

    #Formacao {
        margin-left: 100px;
        
    }

    #Sobre {
        margin-left: 100px;
    }

    #container_conteudo_sobre {
        margin-left: 100px;
    }

    #Projetos {
        margin-left: 100px;
    }

    #container_projetos {
        margin-right: 40px;
    }

}

@media (max-width: 1210px) {

    #Introducao {
        margin-left: 110px;
    }

    #Formacao {
        margin-left: 110px;
        
    }

    #Sobre {
        margin-left: 110px;
    }

    #container_conteudo_sobre {
        margin-left: 95px;
    }

    #Projetos {
        margin-left: 110px;
    }

    #container_projetos {
        margin-right: 50px;
    }


}

@media (max-width: 1200px) {

    #Introducao {
        margin-left: 120px;
    }

    #Formacao {
        margin-left: 120px;
        
    }

    #Sobre {
        margin-left: 120px;
    }

    #container_conteudo_sobre {
        margin-left: 90px;
    }

    #Projetos {
        margin-left: 120px;
    }

    #container_projetos {
        margin-right: 60px;
    }


}

@media (max-width: 1190px) {

    #Introducao {
        margin-left: 130px;
    }

    #Formacao {
        margin-left: 130px;
        
    }

    #Sobre {
        margin-left: 130px;
    }

    #container_conteudo_sobre {
        margin-left: 85px;
    }

    #Projetos {
        margin-left: 130px;
    }

    #container_projetos {
        margin-right: 70px;
    }


}

@media (max-width: 1180px) {

    #Introducao {
        margin-left: 140px;
    }

    #Formacao {
        margin-left: 140px;
        
    }

    #Sobre {
        margin-left: 140px;
    }

    #container_conteudo_sobre {
        margin-left: 70px;
    }

    #Projetos {
        margin-left: 140px;
    }

    #container_projetos {
        margin-right: 80px;
    }

}

@media (max-width: 1170px) {
    
    main {
        
        margin:auto;
        margin-right: 5px;
    }

    #Menu {
        display: none;
        animation: slide 0.3s;
        
    }

    #Introducao {
        
        margin-left: 0px;
       
    }

    #Formacao {
        margin-left: 0px;
        
        
    }

    #Sobre {
        margin-left: 0px;
        
    }

    #container_conteudo_sobre {
        margin-left: 150px;
    }

    #Projetos {
        margin-left: 0px;
     
    }
    
    #container_projetos {
        margin-right: 0px;
    }

    #botao_menu {
        display: block;
    }

   

}

@media (max-width: 1169px) {
    
    main {
        
        margin-right: 4px;
    }
}

@media (max-width: 1168px) {
    
    main {
        margin-right: 3px;
    }
}

@media (max-width: 1167px) {
    
    main {
        margin-right: 2px;
    }
}

@media (max-width: 1166px) {
    
    main {
        margin-right: 1px;
    }
}

@media (max-width: 1165px) {
    
    main {
        margin-right: 0px;
    }
  
}

@media (max-width: 1159px) {
    
    #Introducao {
        margin-left: 10px;
       
    }

    #Formacao {
        margin-left: 10px;
        
    }

    #Sobre {
        margin-left: 10px;
           
    }

    #Projetos {
        margin-left: 10px;
        
    }
 

}

@media (max-width: 1120px) {
    
    #Introducao {
        margin-left: 20px;
         
    }

    #Formacao {
        margin-left: 20px;
        
    }

    #Sobre {
        margin-left: 20px;
        
    }

    #Projetos {
        margin-left: 20px;
     
    }
  
}

@media (max-width: 1100px) {

    #Introducao {
        margin-left: 30px;
       
    }

    #Formacao {
        margin-left: 30px;
        
    }

    #Sobre {
        margin-left: 30px;
        
    }

    #Projetos {
        margin-left: 30px;
     
    }
    
    
}


@media (max-width: 1080px) {
    
    #Introducao {
        margin-left: 40px;
       
    }

    #Formacao {
        margin-left: 40px;
        
    }

    #Sobre {
        margin-left: 40px;
        
    }

    #Projetos {
        margin-left: 40px;
     
    }
    
    #container_projetos {
        margin-right: 10px;
       
    }
}

@media (max-width: 1065px) {

    #Introducao {
        margin-left: 50px;   

    }

    #Formacao {
        margin-left: 50px;
        
    }

    #Sobre {
        margin-left: 50px;
        
    }

    #Projetos {
        margin-left: 50px;
     
    }
    
    #container_projetos {
        margin-right: 20px;
       
    }
}

@media (max-width: 1050px) {
   
    #Introducao {
        margin-left: 60px;
        
    }

    #Formacao {
        margin-left: 60px;
        
    }

    #Sobre {
        margin-left: 60px;
        
    }

    #container_conteudo_sobre {
        margin-left: 140px;
       
    }

    #Projetos {
        margin-left: 60px;
     
    }
    
    #container_projetos {
        margin-right: 30px; 
       
    }
}

@media (max-width: 1035px) {
    
    #Introducao {
        margin-left: 70px;
       
    }

    #Formacao {
        margin-left: 70px;
        
    }

    #container_conteudo_formacao {
        margin-left: 110px;
    }

    #Sobre {
        margin-left: 70px;
        
    }

    #container_conteudo_sobre {
        margin-left: 130px;
       
    }

    #Projetos {
        margin-left: 70px;
     
    }
    
}




@media (max-width: 1024px) {
    
    main {
        margin-right: -50px;
        
    }

    #Introducao {
        margin-left: 23px;
       
    }

    #Formacao {
        margin-left: 23px;
        
    }

    #container_conteudo_formacao {
        margin-left: 80px;

    }

    #Sobre {
        margin-left: 23px;
        
    }

    #container_conteudo_sobre {
        margin-left: 110px;
    
    }

    #Projetos {
        margin-left: 23px;
     
    }

}

@media (max-width: 1014px) {
    
    #Introducao {
        
        margin-left: 33px;
       
    }

    #Formacao {
        margin-left: 33px;
        
    }

    #Sobre {
        margin-left: 33px;
        
    }

    #Projetos {
        margin-left: 33px;
     
    }

}

@media (max-width: 1004px) {
    

    #Introducao {
        margin-left: 43px;
       
    }

    #Formacao {
        margin-left: 43px;
        
    }

    #Sobre {
        margin-left: 43px;
        
    }

    #container_conteudo_sobre {
        margin-left: 98px;
    
    }

    #Projetos {
        margin-left: 43px;
     
    }
    #container_projetos {
        margin-right: 60px;
    }

}

@media (max-width: 994px) {
    
    #Introducao {
    
        margin-left: 53px;
       
    }

    #Formacao {
        margin-left: 53px;
        
    }

    #Sobre {
        margin-left: 53px;
        
    }

    #Projetos {
        margin-left: 53px;
     
    }

}

@media (max-width: 984px) {
    
    #Introducao {
        margin-left: 63px;
       
    }

    #Formacao {
        margin-left: 63px;
        
    }

    #Sobre {
        margin-left: 63px;
        
    }

    #container_conteudo_sobre {
        margin-left: 86px;
    
    }

    #Projetos {
        margin-left: 63px;
     
    }

    #container_projetos {
        margin-right: 70px;
    }  

}

@media (max-width: 974px) {
    
    #Introducao {
        margin-left: 73px;
       
    }

    #Formacao {
        margin-left: 73px;
        
    }

    #Sobre {
        margin-left: 73px;
        
    }

    #Projetos {
        margin-left: 73px;
    }  

}

@media (max-width: 964px) {
    
    #Introducao {
        margin-left: 83px;
       
    }

    #Formacao {
        margin-left: 83px;
        
    }

    #Sobre {
        margin-left: 83px;
        
    }

    #container_conteudo_sobre {
        margin-left: 74px;
    
    }

    #Projetos {
        margin-left: 83px;
    }

    #container_projetos {
        margin-right: 80px;
        padding: 0px 15px 20px 10px;;
    }  
     
}

@media (max-width: 954px) {
    
    #Introducao {
        margin-left: 93px;
       
    }

    #Formacao {
        margin-left: 93px;
        
    }

    #Sobre {
        margin-left: 93px;
        
    }


    #Projetos {
        margin-left: 93px;
    }

     
}

@media (max-width: 944px) {
    
    #Introducao {
        margin-left: 103px;
       
    }

    #Formacao {
        margin-left: 103px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 103px;
        
    }

    #container_conteudo_sobre {
        margin-left: 64px;
    
    }

    .conteudo_lista {
        margin-left: 3px;
    }

    #Projetos {
        margin-left: 103px; 
    }

    #container_projetos {
        padding: 0px 35px 20px 10px;;
    }  
     
}

@media (max-width: 934px) {
    
    #Introducao {
        margin-left: 113px;
       
    }

    #Formacao {
        margin-left: 113px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 113px;
        
    }

    .conteudo_lista {
        Letter-spacing: 1.1px;

    }

    #Projetos {
        margin-left: 113px; 
    }

    #container_projetos {
        padding: 0px 47px 20px 10px;;
    }  
     
}

@media (max-width: 924px) {
    
    #Introducao {
        margin-left: 123px;
       
    }

    #container_Img {
        margin-right: 10px;
    }

    #Formacao {
        margin-left: 123px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 123px;
        
    }

    #Projetos {
        margin-left: 123px; 
    }

    #container_projetos {
        padding: 0px 59px 20px 10px;;
    }  
     
}

@media (max-width: 914px) {
    
    #Introducao {
        margin-left: 133px;
       
    }

    #container_Img {
        margin-right: 20px;
    }

    #Formacao {
        margin-left: 133px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 133px;
        
    }

    #Projetos {
        margin-left: 133px; 
    }

    #container_projetos {
        padding: 0px 71px 20px 10px;;
    }  
     
}

@media (max-width: 904px) {
    
    #Introducao {
        margin-left: 143px;
       
    }

    #container_Img {
        margin-right: 30px;
    }

    #Formacao {
        margin-left: 143px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 143px;
        
    }

    #container_conteudo_sobre {
        margin-left: 64px;
    
    }

    .conteudo_lista {
        Letter-spacing: 1.0px;

    }

    #Projetos {
        margin-left: 143px; 
    }

    #container_projetos {
        padding: 0px 83px 20px 10px;;
    }  
     
}

@media (max-width: 894px) {
    
    #Introducao {
        margin-left: 143px;
        height: 400px; 
        text-align: center;
    }

    #container_conteudo_introducao {
        padding-top: 180px;
        padding-right: 250px;
           
    }

    #container_Img {
        height: 400px;
        width: 400px;
        margin-right: 30px;
        left: 178px;
        top: -110px;
    }

    #Formacao {
        margin-left: 153px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 153px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0.85px;

    }

    #Projetos {
        margin-left: 153px; 
    }

    #container_projetos {
        padding: 0px 95px 20px 10px;
    }  

}

@media (max-width: 884px) {

    #Formacao {
        margin-left: 163px;                                                                                                                             
        
    }

    #container_Img {
        left: 180px;
        
    }

    #container_conteudo_introducao {
        padding-right: 240px;
           
    }

    #Sobre {
        margin-left: 163px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0.75px;

    }

    #Projetos {
        margin-left: 163px; 
    }

    #container_projetos {
        padding: 0px 110px 20px 10px;;
    }  
     

}

@media (max-width: 874px) {
    
    #Formacao {
        margin-left: 173px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 173px;
        
    }
 
    .conteudo_lista {
        Letter-spacing: 0.65px;

    }

    #Projetos {
        margin-left: 173px; 
    }

    #container_projetos {
        padding: 0px 168px 20px 10px;
    }  

    #projeto03 {
        margin-top: 20px;
    }
     
}
    
@media (max-width: 864px) {
    
    #Formacao {
        margin-left: 183px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 183px;
        
    }

    #container_conteudo_sobre {
        margin-left: 64px;
    
    }

    .conteudo_lista {
        Letter-spacing: 0.55px;

    }

    #Projetos {
        margin-left: 183px; 
    }


}

@media (max-width: 854px) {
    
    #Formacao {
        margin-left: 193px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 193px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0.45px;

    }

    #Projetos {
        margin-left: 193px; 
    }


}

@media (max-width: 844px) {
    
    #Formacao {
        background-color: #454545;
        margin-left: 203px;                                                                                                                             
        
    }

    .info_curso{
        Letter-spacing: 1.0px;
    }

    #Sobre {
        margin-left: 203px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0.35px;

    }

    #Projetos {
        margin-left: 203px; 
    }

    #container_projetos {
        padding: 0px 195px 20px 10px;
    }  

}

@media (max-width: 834px) {

    #Introducao {
        margin-left: 153px; 
    }
    
    #Formacao {
        margin-left: 213px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 213px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0px;

    }

    #Projetos {
        margin-left: 213px; 
    }

}

@media (max-width: 824px) {

    #Introducao {
        margin-left: 163px; 
    }
    
    #Formacao {
        margin-left: 223px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 223px;
        
    }

    #Projetos {
        margin-left: 223px; 
    }

   
} 

@media (max-width: 814px) {

    #Introducao {
        margin-left: 163px; 
    }
    
    #Formacao {
        margin-left: 233px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 233px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0px;

    }

    #Projetos {
        margin-left: 233px; 
    }

}