html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}                                                    /* RESET.CSS */

@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

body{
    font-family: 'Pathway Extreme', sans-serif;
    color: #F0F0F0;
    background-color: #393646;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
    
}
::-webkit-scrollbar {
    background: #454545;  
  
}

::-webkit-scrollbar-thumb {
    background-color: #454545;    
    border-radius: 20px;       
    border: 1px solid #000000;  
     
}


#Pai {
    padding: 10px 10px 10px 12px;
}


#Menu {
    position: fixed;
    background-color: #454545;
    box-shadow: 1px 1px 5px #0000006c;
    width: 220px;
    height: 600px;
    padding: 35px 25px 35px 25px;
    text-align: center;
    border-radius: 10px; 
    
      
}

#nome_menu {
    font-size: 25px;
    margin-top: 5px;
}

#avatar {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 3px solid #FF6000;
}

#texto_menu {
    font-size: 14px;
    margin-top: 7px;
}

#links_externos {
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 12px;   
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
 
}
.icones {
    width: 30px;
    height: 30px;
}

#linha_horizontal_menu {
    width: 100%;
    border: 1px solid #42403e;
   
    
}

#links_internos {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 50px;  
    
}

.elementos {
    padding: 25px;
}

#elementos_link_interno {
    text-decoration: none;
    color: #F0F0F0;
}

main {
   
    float: right;
    width: 1000px;
    height: 100%;
    margin-right: 0px;
    padding: 20px;      
}

.linha_vertical_main {
    height: 30px;
    float: left;
    border: 1px solid #FF6000;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 5px;
}


#Introducao { 
    
    height:260px;
    padding: 0px 0px 0px 0px ; 
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: space-between;          
}

#container_conteudo_introducao {
    height: 100%;
    margin-top: 15px;
    margin-left: 16px
    
}

#nome_introducao {
    font-size: 35px; 
    margin-bottom: 8px;   
}

#subtitulo_introducao {
    font-size: 20px;
    margin-bottom: 8px;  
    margin-left: 10px;  
}

#container_texto_introducao {
    font-size: 17px;
    Letter-spacing: 1.5px;
    
     
}

.info_introducao {
    margin-left:10px;
}

#container_img_introducao {   
    width: 500px;
    height:500px; 
}

#foto_introducao {
    width: 100%;
    height: 100%;
}

#Formacao {
    
    height:300px;
    padding: 15px 20px 15px 0px;
}


#titulo_formacao {
    font-size: 25px;
    margin: 10px 10px 0px 0px;
}

#container_conteudo_formacao {
    font-size: 15px;
    margin: 20px 10px 10px 120px;
    text-align: left; 
}

#lista_formacoes {
   list-style: none;   
}

#lista_formacoes .nome_curso::before {
    content: '\2022';
    color: #FF6000;
    font-size: 35px;
    margin-right: 15px;          
} 

.nome_curso {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;  
}

#tecnologia_informacao {
    margin-top: 10px;
}

.info_curso {
    font-size: 15px;
    margin-left: 45px;
    margin-bottom: 5px;  
}

#Sobre {
   
    height: 350px;
    padding: 9px 20px 20px 0px;
}

#titulo_sobre {
    font-size: 25px;
    margin: 10px 10px 0px 0px;
}

#container_conteudo_sobre {
    font-size: 17px;
    height: inherit;
    text-align: left;
    padding: 10px 30px 20px 30px;
    
}

.conteudo_sobre {
    padding: 8px;
}

#Projetos {
    
    height: 450px;
    padding: 20px 0px 20px 0px;
}

#titulo_projeto {
    font-size: 25px;
    margin: 10px 10px 0px 0px;
}

#container_projetos {
    
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}    
 

.card {  
    opacity: 1;
    width: 250px;
    height: 370px;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 5px #0000006c;
    border: 1px solid #FF6000;
    border-radius: 10px;
       
}

.titulo_projeto {
    padding: 5px;
    font-size: 18px;
}

.foto_projeto {
    width: 220px;
    height: 170px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    
}

.icone_card  {
    
    width: 30px;
    height: 30px;
    padding: 0px 5px 0px 5px;
    margin-top: 5px;
    
}

.descricao_projeto {
    
    color: #F0F0F0;
    font-size: 15px;
    padding: 5px;
    margin-top: px;
}

.tec_projeto {
    color: #F0F0F0;
    font-size: 14px;
    margin-top: 55px;
    float: bottom;


}