@media (max-width: 1912px) {                              /* @MEDIA QUERY WIDTH*/

    main {
        margin: 0px 280px 0px 0px;      
    }
    
}

@media (max-width: 1850px) {                             

    main {
        margin: 0px 260px 0px 0px;      
    }
    
}

@media (max-width: 1800px) {                              

    main {
        margin: 0px 240px 0px 0px;      
    }
    
}

@media (max-width: 1750px) {                             

    main {
        margin: 0px 220px 0px 0px;      
    }
    
}

@media (max-width: 1700px) {                              

    main {
        margin: 0px 180px 0px 0px;      
    }
    
}

@media (max-width: 1650px) {                              

    main {
        margin: 0px 150px 0px 0px;      
    }
    
}

@media (max-width: 1600px) {                              

    main {
        margin: 0px 120px 0px 0px;      
    }
    
}

@media (max-width: 1550px) {                              

    main {
        margin: 0px 80px 0px 0px;      
    }
    
}

@media (max-width: 1450px) {                              

    main {
        margin: 0px 50px 0px 0px;      
    }
    
}

@media (max-width: 1400px) {                              
    main {
        margin: 0px 20px 0px 0px;      
    }
    
}

@media (max-width: 1350px) {                             

    main {
        margin: 0px 0px 0px 0px;      
    }
    
}

@media (max-width: 1310px) {                              
    
    main {
        margin: 0px 0px 0px 0px;      
    }

    #Introducao {
        width: 100%;
        margin-left: 10px;
    }

    #Formacao {
        width: 100%;
        margin-left: 10px;
        
    }

    #Sobre {
        width: 100%;
        margin-left: 10px;
    }

    #info_sobre01_804px {
        display: none;
    }

    #info_sobre02_604px {
        display: none;
    }

    #info_sobre03_804px {
        display: none;
    }

    #info_sobre04_604px {
        display: none;
    }

    #info_sobre04_804px {
        display: none;
    }

    #Projetos {
        width: 100%;
        margin-left: 10px;
    }

}

@media (max-width: 1300px) {

    #Introducao {
        margin-left: 20px;
    }
    
    #Formacao {
        margin-left: 20px;
        
    }
    
    #Sobre {
        margin-left: 20px;
    }
    
    #Projetos {
        margin-left: 20px;
    }
    
}

@media (max-width: 1290px) {

    #Introducao {
        margin-left: 30px;
    }

    #Formacao {
        margin-left: 30px;
        
    }

    #Sobre {
        margin-left: 30px;
    }

    #Projetos {
        margin-left: 30px;
    }

}

@media (max-width: 1280px) {

    #Introducao {
        margin-left: 40px;
    }

    #Formacao {
        margin-left: 40px;
        
    }

    #Sobre {
        margin-left: 40px;
    }

    #Projetos {
        margin-left: 40px;
    }

}

@media (max-width: 1270px) {

    #Introducao {
        margin-left: 50px;
    }

    #Formacao {
        margin-left: 50px;
        
    }

    #Sobre {
        margin-left: 50px;
    }

    #Projetos {
        margin-left: 50px;
    }

}

@media (max-width: 1260px) {

    #Introducao {
        margin-left: 60px;
    }

    #Formacao {
        margin-left: 60px;
        
    }

    #Sobre {
        margin-left: 60px;
    }

    #Projetos {
        margin-left: 60px;
    }

}

@media (max-width: 1250px) {

    #Introducao {
        margin-left: 70px;
    }

    #Formacao {
        margin-left: 70px;
        
    }

    #Sobre {
        margin-left: 70px;
    }

    #container_conteudo_sobre {
        margin-left: 115px;
    }

    #Projetos {
        margin-left: 70px;
        

    }

    #container_projetos {
        margin-right: 10px;
    }

}

@media (max-width: 1240px) {

    #Introducao {
        margin-left: 80px;
    }

    #Formacao {
        margin-left: 80px;
        
    }

    #Sobre {
        margin-left: 80px;
    }

    #container_conteudo_sobre {
        margin-left: 110px;
    }

    #Projetos {
        margin-left: 80px;
    }
    
    #container_projetos {
        margin-right: 20px;
    }

    #container_projetos {
        margin-right: 25px;
    }

}

@media (max-width: 1230px) {

    #Introducao {
        margin-left: 90px;
    }

    #Formacao {
        margin-left: 90px;
        
    }

    #Sobre {
        margin-left: 90px;
    }

    #container_conteudo_sobre {
        margin-left: 105px;
    }

    #Projetos {
        margin-left: 90px;
    }

    #container_projetos {
        margin-right: 30px;
    }
    
    #container_projetos {
        margin-right: 35px;
    }

}

@media (max-width: 1220px) {

    #Introducao {
        margin-left: 100px;
    }

    #Formacao {
        margin-left: 100px;
        
    }

    #Sobre {
        margin-left: 100px;
    }

    #container_conteudo_sobre {
        margin-left: 100px;
    }

    #Projetos {
        margin-left: 100px;
    }

    #container_projetos {
        margin-right: 40px;
    }

    #container_projetos {
        margin-right: 47px;
    }

}

@media (max-width: 1210px) {

    #Introducao {
        margin-left: 110px;
    }

    #Formacao {
        margin-left: 110px;
        
    }

    #Sobre {
        margin-left: 110px;
    }

    #container_conteudo_sobre {
        margin-left: 95px;
    }

    #Projetos {
        margin-left: 110px;
    }

    #container_projetos {
        margin-right: 50px;
    }

    #container_projetos {
        margin-right: 65px;
    }

}

@media (max-width: 1200px) {

    #Introducao {
        margin-left: 120px;
    }

    #Formacao {
        margin-left: 120px;
        
    }

    #Sobre {
        margin-left: 120px;
    }

    #container_conteudo_sobre {
        margin-left: 90px;
    }

    #Projetos {
        margin-left: 120px;
    }

    #container_projetos {
        margin-right: 60px;
    }

    #container_projetos {
        margin-right: 75px;
    }

}

@media (max-width: 1190px) {

    #Introducao {
        margin-left: 130px;
    }

    #Formacao {
        margin-left: 130px;
        
    }

    #Sobre {
        margin-left: 130px;
    }

    #container_conteudo_sobre {
        margin-left: 85px;
    }

    #Projetos {
        margin-left: 130px;
    }

    #container_projetos {
        margin-right: 70px;
    }

    #container_projetos {
        margin-right: 90px;
    }


}

@media (max-width: 1180px) {

    #Introducao {
        margin-left: 140px;
    }

    #Formacao {
        margin-left: 140px;
        
    }

    #Sobre {
        margin-left: 140px;
    }

    #container_conteudo_sobre {
        margin-left: 70px;
    }

    #Projetos {
        margin-left: 140px;
    }

    #container_projetos {
        margin-right: 80px;
    }

    #container_projetos {
        margin-right: 105px;
    }


}

@media (max-width: 1170px) {
    
    main {
        margin:auto;
        margin-right: 5px;
    }

    #Menu {
        display: none;

        
    }

    #Introducao {
        margin-left: 0px;
       
    }

    #Formacao {
        margin-left: 0px;
 
    }

    #Sobre {
        margin-left: 0px;
        
    }

    #container_conteudo_sobre {
        margin-left: 150px;
    }

    #Projetos {
        margin-left: 0px;
     
    }

    .card:hover {
        transform: scale(1);
    }

    .icone_card:hover {
        transform: scale(1.1);
    }

    #container_projetos {
        margin-right: 0px;
    }

    #botao_menu {
        display: block;
    }

   

}

@media (max-width: 1169px) {
    
    main {
        
        margin-right: 4px;
    }
}

@media (max-width: 1168px) {
    
    main {
        margin-right: 3px;
    }
}

@media (max-width: 1167px) {
    
    main {
        margin-right: 2px;
    }
}

@media (max-width: 1166px) {
    
    main {
        margin-right: 1px;
    }
}

@media (max-width: 1165px) {
    
    main {
        margin-right: 0px;
    }
  
}

@media (max-width: 1159px) {
    
    #Introducao {
        margin-left: 10px;
       
    }

    #Formacao {
        margin-left: 10px;
        
    }

    #Sobre {
        margin-left: 10px;
           
    }

    #Projetos {
        margin-left: 10px;
        
    }
 

}

@media (max-width: 1120px) {
    
    #Introducao {
        margin-left: 20px;
         
    }

    #Formacao {
        margin-left: 20px;
        
    }

    #Sobre {
        margin-left: 20px;
        
    }

    #Projetos {
        margin-left: 20px;
     
    }
  
}

@media (max-width: 1100px) {

    #Introducao {
        margin-left: 30px;
       
    }

    #Formacao {
        margin-left: 30px;
        
    }

    #Sobre {
        margin-left: 30px;
        
    }

    #Projetos {
        margin-left: 30px;
     
    }
    
    
}


@media (max-width: 1080px) {
    
    #Introducao {
        margin-left: 40px;
       
    }

    #Formacao {
        margin-left: 40px;
        
    }

    #Sobre {
        margin-left: 40px;
        
    }

    #Projetos {
        margin-left: 40px;
     
    }
    
    #container_projetos {
        margin-right: 10px;
       
    }
}

@media (max-width: 1065px) {

    #Introducao {
        margin-left: 50px;   

    }

    #Formacao {
        margin-left: 50px;
        
    }

    #Sobre {
        margin-left: 50px;
        
    }

    #Projetos {
        margin-left: 50px;
     
    }
    
    #container_projetos {
        margin-right: 20px;
       
    }
}

@media (max-width: 1050px) {
   
    #Introducao {
        margin-left: 60px;
        
    }

    #Formacao {
        margin-left: 60px;
        
    }

    #Sobre {
        margin-left: 60px;
        
    }

    #container_conteudo_sobre {
        margin-left: 140px;
       
    }

    #Projetos {
        margin-left: 60px;
     
    }
    
    #container_projetos {
        margin-right: 30px; 
       
    }
}

@media (max-width: 1035px) {
    
    #Introducao {
        margin-left: 70px;
       
    }

    #Formacao {
        margin-left: 70px;
        
    }

    #container_conteudo_formacao {
        margin-left: 110px;
    }

    #Sobre {
        margin-left: 70px;
        
    }

    #container_conteudo_sobre {
        margin-left: 130px;
       
    }

    #Projetos {
        margin-left: 70px;
     
    }
    
}




@media (max-width: 1024px) {
    
    main {
        margin-right: -50px;
        
    }

    #Introducao {
        margin-left: 23px;
       
    }

    #Formacao {
        margin-left: 23px;
        
    }

    #container_conteudo_formacao {
        margin-left: 80px;

    }

    #Sobre {
        margin-left: 23px;
        
    }

    #container_conteudo_sobre {
        margin-left: 110px;
    
    }

    #Projetos {
        margin-left: 23px;
     
    }

}

@media (max-width: 1014px) {
    
    #Introducao {
        
        margin-left: 33px;
       
    }

    #Formacao {
        margin-left: 33px;
        
    }

    #Sobre {
        margin-left: 33px;
        
    }

    #Projetos {
        margin-left: 33px;
     
    }

}

@media (max-width: 1004px) {
    

    #Introducao {
        margin-left: 43px;
       
    }

    #Formacao {
        margin-left: 43px;
        
    }

    #Sobre {
        margin-left: 43px;
        
    }

    #container_conteudo_sobre {
        margin-left: 98px;
    
    }

    #Projetos {
        margin-left: 43px;
     
    }
    #container_projetos {
        margin-right: 60px;
    }

}

@media (max-width: 994px) {
    
    #Introducao {
    
        margin-left: 53px;
       
    }

    #Formacao {
        margin-left: 53px;
        
    }

    #Sobre {
        margin-left: 53px;
        
    }

    #Projetos {
        margin-left: 53px;
     
    }

}

@media (max-width: 984px) {
    
    #Introducao {
        margin-left: 63px;
       
    }

    #Formacao {
        margin-left: 63px;
        
    }

    #Sobre {
        margin-left: 63px;
        
    }

    #container_conteudo_sobre {
        margin-left: 86px;
    
    }

    #Projetos {
        margin-left: 63px;
     
    }

    #container_projetos {
        margin-right: 70px;
    }  

}

@media (max-width: 974px) {
    
    #Introducao {
        margin-left: 73px;
       
    }

    #Formacao {
        margin-left: 73px;
        
    }

    #Sobre {
        margin-left: 73px;
        
    }

    #Projetos {
        margin-left: 73px;
    }  

}

@media (max-width: 964px) {
    
    #Introducao {
        margin-left: 83px;
       
    }

    #Formacao {
        margin-left: 83px;
        
    }

    #Sobre {
        margin-left: 83px;
        
    }

    #container_conteudo_sobre {
        margin-left: 74px;
    
    }

    #Projetos {
        margin-left: 83px;
    }

    #container_projetos {
        margin-right: 80px;
        padding: 0px 15px 20px 10px;;
    }  
     
}

@media (max-width: 954px) {
    
    #Introducao {
        margin-left: 93px;
       
    }

    #Formacao {
        margin-left: 93px;
        
    }

    #Sobre {
        margin-left: 93px;
        
    }


    #Projetos {
        margin-left: 93px;
    }

     
}

@media (max-width: 944px) {
    
    #Introducao {
        margin-left: 103px;
       
    }

    #Formacao {
        margin-left: 103px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 103px;
        
    }

    #container_conteudo_sobre {
        margin-left: 64px;
    
    }

    .conteudo_lista {
        margin-left: 3px;
    }

    #Projetos {
        margin-left: 103px; 
    }

    #container_projetos {
        padding: 0px 35px 20px 10px;;
    }  
     
}

@media (max-width: 934px) {
    
    #Introducao {
        margin-left: 113px;
       
    }

    #Formacao {
        margin-left: 113px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 113px;
        
    }

    .conteudo_lista {
        Letter-spacing: 1.1px;

    }

    #Projetos {
        margin-left: 113px; 
    }

    #container_projetos {
        padding: 0px 47px 20px 10px;;
    }  
     
}

@media (max-width: 924px) {
    
    #Introducao {
        margin-left: 123px;
       
    }

    #container_Img {
        margin-right: 10px;
    }

    #Formacao {
        margin-left: 123px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 123px;
        
    }

    #Projetos {
        margin-left: 123px; 
    }

    #container_projetos {
        padding: 0px 59px 20px 10px;;
    }  
     
}

@media (max-width: 914px) {
    
    #Introducao {
        margin-left: 133px;
       
    }

    #container_Img {
        margin-right: 20px;
    }

    #Formacao {
        margin-left: 133px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 133px;
        
    }

    #Projetos {
        margin-left: 133px; 
    }

    #container_projetos {
        padding: 0px 71px 20px 10px;;
    }  
     
}

@media (max-width: 904px) {
    
    #Introducao {
        margin-left: 143px;
       
    }

    #container_Img {
        margin-right: 30px;
    }

    #Formacao {
        margin-left: 143px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 143px;
        
    }

    #container_conteudo_sobre {
        margin-left: 64px;
    
    }

    .conteudo_lista {
        Letter-spacing: 1.0px;

    }

    #Projetos {
        margin-left: 143px; 
    }

    #container_projetos {
        padding: 0px 83px 20px 10px;;
    }  
     
}

@media (max-width: 894px) {
    
    #Introducao {
        margin-left: 143px;
        height: 400px; 
        text-align: center;
    }

    #container_conteudo_introducao {
        padding-top: 180px;
        padding-right: 250px;
           
    }

    #container_Img {
        height: 400px;
        width: 400px;
        margin-right: 30px;
        left: 178px;
        top: -110px;
    }

    #Formacao {
        margin-left: 153px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 153px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0.85px;

    }

    #Projetos {
        margin-left: 153px; 
    }

    #container_projetos {
        padding: 0px 95px 20px 10px;
    }  

}

@media (max-width: 884px) {

    #Formacao {
        margin-left: 163px;                                                                                                                             
        
    }

    #container_Img {
        left: 180px;
        
    }

    #container_conteudo_introducao {
        padding-right: 240px;
           
    }

    #Sobre {
        margin-left: 163px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0.75px;

    }

    #Projetos {
        margin-left: 163px; 
    }

    .card {
        margin-bottom: 50px;
    }

    #container_projetos {
        padding: 0px 168px 20px 10px;
    }  

    #projeto03 {
        margin-top: 20px;
    }
     

}

@media (max-width: 874px) {
    
    #Formacao {
        margin-left: 173px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 173px;
        
    }
 
    .conteudo_lista {
        Letter-spacing: 0.65px;

    }

    #Projetos {
        margin-left: 173px; 
    }

     
}
    
@media (max-width: 864px) {
    
    #Formacao {
        margin-left: 183px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 183px;
        
    }

    #container_conteudo_sobre {
        margin-left: 64px;
    
    }

    .conteudo_lista {
        Letter-spacing: 0.55px;

    }

    #Projetos {
        margin-left: 183px; 
    }


}

@media (max-width: 854px) {
    
    #Introducao {
        margin-left: 165px;

    }


    #Formacao {
        margin-left: 193px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 193px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0.45px;

    }

    #Projetos {
        margin-left: 193px; 
    }


}

@media (max-width: 844px) {
    
    #Formacao {
        margin-left: 203px;                                                                                                                             
        
    }

    #container_situacao_curso01 {
        left: 564px;   
    }

    .situacao_curso {
        Letter-spacing: 1.0px;
    }

    #container_situacao_curso02 {
        left: 356px;
    }

    .info_curso{
        Letter-spacing: 1.0px;
    }

    #Sobre {
        margin-left: 203px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0.35px;

    }

    .card {
        margin-bottom: 45px;
    }

    #Projetos {
        margin-left: 203px; 
    }

    #container_projetos {
        padding: 0px 195px 20px 10px;
    }  

    
}

@media (max-width: 834px) {

    #Formacao {
        margin-left: 213px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 213px;
        
    }

    .conteudo_lista {
        Letter-spacing: 0px;

    }

    #Projetos {
        margin-left: 213px; 
    }

}

@media (max-width: 824px) {

    #Introducao {
        margin-left: 163px; 
    }
    
    #Formacao {
        margin-left: 223px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 223px;
        
    }

    #Projetos {
        margin-left: 223px; 
    }

   
} 

@media (max-width: 814px) {

    #Introducao {
        margin-left: 180px; 
    }
    
    #Formacao {
        margin-left: 233px;                                                                                                                             
        
    }

    #container_conteudo_formacao {
        margin-left: 32px;
    }

    #Sobre {
        margin-left: 233px;
        
    }

    #Projetos {
        margin-left: 233px; 
    }

}

@media (max-width: 804px) {

    #Introducao {
        margin-left: 183px; 
    }
    
    #Formacao {
        margin-left: 243px;                                                                                                                             
        
    }

    #container_conteudo_formacao {
        margin-left: 32px;
    }

    #Sobre {
        margin-left: 243px;
        
    }
    
    #info_sobre03 {
        display: none;
    }

    /*Responsividade aplicada ao conteúdo da lista "Sobre"*/

    #info_sobre03_804px {
        display: block;
    }
    
    #Projetos {
        margin-left: 243px; 
    }


}

@media (max-width: 794px) {

    #Introducao {
        margin-left: 190px; 
    }
    
    #Formacao {
        margin-left: 253px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 253px;
        
    }

    #Projetos {
        margin-left: 253px; 
    }

}

@media (max-width: 784px) {

    #Introducao {
        margin-left: 195px; 
    }
    
    #Formacao {
        margin-left: 263px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 263px;
        
    }

    #Projetos {
        margin-left: 263px; 
    }

    .card {
        margin-bottom: 40px;
    }

    #container_projetos {
        padding: 0px 250px 20px 10px;
    }  

}

@media (max-width: 774px) {

    #Introducao {
        margin-left: 199px; 
    }
    
    #Formacao {
        margin-left: 273px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 273px;
        height: 460px;
        
    }

    #info_sobre01 {
        display: none;
    }

    #info_sobre01_774px {
        display: block;
    }

    #info_sobre04 {
        display: none;
    }

    #info_sobre04_774px { 
        display: block;
    }

    #Projetos {
        margin-left: 273px; 
    }

    #container_projetos {
        padding: 0px 260px 20px 10px;
    }  

}

@media (max-width: 764px) {

    #Introducao {
        margin-left: 213px; 
    }
    
    #Formacao {
        margin-left: 283px;                                                                                                                             
    }

    #container_situacao_curso01 {
        left: 532px; 
           
    }

    .situacao_curso {
        Letter-spacing: 0.50px;
    }

    #container_situacao_curso02 {
        left: 335px;
    }

    .info_curso{
        Letter-spacing: 0.50px;
    }

    #Sobre {
        margin-left: 283px;
        
    }

    #Projetos {
        margin-left: 283px; 
    }

    .card {
        margin-bottom: 32px;
    }

    #container_projetos {
        padding: 0px 270px 20px 10px;
    }  

}

@media (max-width: 754px) {

    #Introducao {
        margin-left: 215px; 
    }
    
    #Formacao {
        margin-left: 293px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 293px;
        
    }

    #Projetos {
        margin-left: 293px; 
    }

    #container_projetos {
        padding: 0px 280px 20px 10px;
    }  

}

@media (max-width: 744px) {

    #Introducao {
        margin-left: 223px; 
    }
    
    #Formacao {
        margin-left: 303px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 303px;
        height: 460px;
        
    }

    #info_sobre04 {
        display: none;
    }

    #info_sobre04_744px {
        display: block;
    }

    #Projetos {
        margin-left: 303px; 
    }

    #container_projetos {
        padding: 0px 290px 20px 10px;
    }  

}

@media (max-width: 734px) {

    #Introducao {
        margin-left: 225px; 
    }
    
    #Formacao {
        margin-left: 313px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 313px;
        
    }

    #Projetos {
        margin-left: 313px; 
    }

    .card {
        margin-bottom: 25px;
    }

    #container_projetos {
        padding: 0px 300px 20px 10px;
    }  

}

@media (max-width: 724px) {

    #Introducao {
        margin-left: 230px; 
    }
    
    #Formacao {
        margin-left: 323px;                                                                                                                             
        
    }

    #container_situacao_curso01 {
        left: 500px;     
    }

    .situacao_curso {
        Letter-spacing: 0px;
    }

    #container_situacao_curso02 {
        left: 315px;
    }

    .info_curso{
        Letter-spacing: 0px;
    }

    #Sobre {
        margin-left: 323px;
        
    }

    #Projetos {
        margin-left: 323px; 
    }

    #container_projetos {
        padding: 0px 310px 20px 10px;
    }  

}

@media (max-width: 714px) {

    #Introducao {
        margin-left: 235px; 
    }
    
    #Formacao {
        margin-left: 333px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 333px;
        
    }

    #Projetos {
        margin-left: 333px; 
    }

    .card {
        margin-bottom: 20px;
    }

    #container_projetos {
        padding: 0px 320px 20px 10px;
    }  

}

@media (max-width: 704px) {
    
    #Introducao {
        margin-left: 240px; 
    }

    #Formacao {
        margin-left: 343px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 343px;
        
    }

    #Projetos {
        margin-left: 343px; 
    }

    #container_projetos {
        padding: 0px 330px 20px 10px;
    }  

}

@media (max-width: 694px) {

    #Introducao {
        margin-left: 245px; 
    }

    #Formacao {
        margin-left: 353px;
        height: 320px;                                                                                                                           
    }

    #container_situacao_curso01 {
        left: 383px;     
    }

    .situacao_curso {
        Letter-spacing: 0px;
    }

    #info_curso01 {
        display: none;
    }

    #info_curso02 {
        display: none;
    }

    #info_curso01_694px {
        display: block;
    }
    
    #info_curso02_694px {
        display: block;
    } 

    #Sobre {
        margin-left: 353px;
        
    }

    #Projetos {
        margin-left: 353px; 
    }

    #container_projetos {
        padding: 0px 340px 20px 10px;
    }  

}

@media (max-width: 684px) {

    #Introducao {
        margin-left: 250px; 
    }

    #Formacao {
        margin-left: 363px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 363px;
        
    }

    #Projetos {
        margin-left: 363px; 
    }

}

@media (max-width: 674px) {

    #Introducao {
        margin-left: 255px; 
    }

    #Formacao {
        margin-left: 373px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 373px;
        
        
    }
    
    #Projetos {
        margin-left: 373px; 
    }

}

@media (max-width: 664px) {
   
    #Introducao {
        margin-left: 263px; 
    }

    #Formacao {
        margin-left: 383px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 383px;
        height: 480px;
        
    }

    #info_sobre01_774px {
        display: none;
    } 

   
    #info_sobre03_804px {
        display: none;
    }

    #info_sobre01_664px {
        display: block;
    }

    #info_sobre03_664px {
        display: block;
    }
    

    #Projetos {
        margin-left: 383px; 
    }

}

@media (max-width: 654px) {
   
    #Introducao {
        margin-left: 273px; 
    }

    #Formacao {
        margin-left: 393px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 393px;
        
    }

    #Projetos {
        margin-left: 393px; 
    }

    .card {
        margin-bottom: 12px;
    }

    #container_projetos {
        padding: 0px 350px 20px 10px;
    }  

}

@media (max-width: 644px) {
    
    #Introducao {
        margin-left: 275px; 
    }

    #Formacao {
        margin-left: 403px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 403px;
        
    }

    #Projetos {
        margin-left: 403px; 
    }

    #container_projetos {
        padding: 0px 350px 20px 10px;
    }  

}

@media (max-width: 634px) {

    #Introducao {
        margin-left: 283px; 
    }

    #Formacao {
        margin-left: 413px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 413px;
        
    }

    #Projetos {
        margin-left: 413px; 
    }

    .card {
        margin-bottom: 40px;
    }

    #container_projetos {
        flex-direction: column;
        align-items: center;
        padding: 0px 400px 00px 10px;
    }
    
   
}

@media (max-width: 624px) {

    #Introducao {
        margin-left: 285px; 
    }

    #Formacao {
        margin-left: 423px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 423px;
        
    }

    #Projetos {
        margin-left: 423px; 
    }

    #container_projetos {
        padding-right: 415px;
    }
}

@media (max-width: 614px) {

    #Introducao {
        margin-left: 293px; 
    }

    #Formacao {
        margin-left: 433px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 433px;
        
    }

    #Projetos {
        margin-left: 433px; 
    }

    #container_projetos {
        padding-right: 430px;
    }
}

@media (max-width: 604px) {

    #Introducao {
        margin-left: 295px; 
    }


    #Formacao {
        margin-left: 443px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 443px;
        
    }

    #info_sobre02 {
        display: none;
    }

    #info_sobre02_604px {
        display: block;
    }

    #Projetos {
        margin-left: 443px; 
    }

    #container_projetos {
        padding-right: 445px;
    }
}

@media (max-width: 594px) {
    #Introducao {
        margin-left: 302px; 
    }

    #Formacao {
        margin-left: 453px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 453px;
        
    }

    #info_sobre03_664px {
        display: none;
    }

    #info_sobre03_594px {
        display: block;
    }

    #Projetos {
        margin-left: 453px; 
    }
}

@media (max-width: 584px) {

    #Introducao {
        margin-left: 305px; 
    }

    #Formacao {
        margin-left: 463px;                                                                                                                             
        
    }

    #Sobre {
        margin-left: 463px;
        
    }

    #Projetos {
        margin-left: 463px; 
    }

    #container_projetos {
        padding-right: 465px;
    }
}

@media (max-width: 574px) {

    #Introducao {
        margin-left: 313px; 
    }

    #Formacao {
        margin-left: 473px;                                                                                                                            
    }
    
    #container_situacao_curso01 {
        left: 361px;
        top: -156px;   
    }

    .situacao_curso {
        font-size: 16px;
    }

    #container_situacao_curso02 {
        left: 296px;
        top: -66px;

    }

    .info_curso {
        font-size: 16px;
    }

    #Sobre {
        margin-left: 473px;
        
    }  

    .conteudo_lista {
        font-size: 16px;
    }

    #Projetos {
        margin-left: 473px; 
    }

    #container_projetos {
        padding-right: 475px;
    }
}

@media (max-width: 564px) {

    #Introducao {
        margin-left: 321px; 
    }

    #Formacao {
        margin-left: 483px;                                                                                                                            
    }


    #Sobre {
        margin-left: 483px;
        
    }  

    #Projetos {
        margin-left: 483px; 
    }

    #container_projetos {
        padding-right: 485px;
    }
}

@media (max-width: 554px) {

    #Introducao {
        margin-left: 329px; 
    }

    #container_texto_introducao {
        Letter-spacing: 1.2px;
           
    }

    #Formacao {
        margin-left: 493px;                                                                                                                            
    }


    #Sobre {
        margin-left: 493px;
        
    }  

    #Projetos {
        margin-left: 493px; 
    }

    #container_projetos {
        padding-right: 495px;
    }
}


@media (max-width: 544px) {

    #Introducao {
        margin-left: 337px; 
    }

    #Formacao {
        margin-left: 503px;
        height: 330px;                                                                                                                            
    }

    #info_curso01_694px {
        display: none;
    }

    #info_curso02_694px {
        display: none;
    }

    #info_curso01_544px {
        display: block;
    }
    
    #info_curso02_544px {
        display: block;
    }
    
    #container_situacao_curso01 {
        display: none;
    }

    #container_situacao_curso01_544px {
        display: block;
        position: absolute;
        left: 336px;    
        top: 578px;   
    }

    #container_situacao_curso02 {
        top: -45px;
    }

    #Sobre {
        margin-left: 503px;
        
    }  

    #info_sobre01_664px {
        display: none;
    }

    #info_sobre01_544px {
        display: block;
    }

    #Projetos {
        margin-left: 503px; 
    }

    #container_projetos {
        padding-right: 505px;
    }
}


@media (max-width: 534px) {
   
    #Introducao {
        margin-left: 345px; 
    }

    #container_texto_introducao {
        Letter-spacing: 1.0px;
           
    }

    #Formacao {
        margin-left: 513px;                                                                                                                         
    }

    #Sobre {
        margin-left: 513px;
        
    }  

    #info_sobre02_604px {
        display: none;
    }

    #info_sobre02_534px {
        display: block;
    }
    
    #Projetos {
        margin-left: 513px; 
    }

    #container_projetos {
        padding-right: 505px;
    }
}

@media (max-width: 524px) {
   
    #Introducao {
        margin-left: 353px; 
    }

    #container_texto_introducao {
        Letter-spacing: 1.0px;
           
    }

    #Formacao {
        margin-left: 523px;                                                                                                                         
    }

    #Sobre {
        margin-left: 523px;
        
    }  
    
    #Projetos {
        margin-left: 523px; 
    }

}


@media (max-width: 514px) {

    #container_texto_introducao {
        font-size: 16px;   
    }

    #Formacao {
        margin-left: 533px;                                                                                                                         
    }

    #Sobre {
        margin-left: 533px;
        
    }
    
    #info_sobre03_594px {   
        display: none;
    }

    #info_sobre03_514px {       
        display: block;
    }

    #info_sobre04_774px {
        display: none;
    }  

    #info_sobre04_514px {
        display: block;
    }  
    
    #Projetos {
        margin-left: 533px; 
    }

}

@media (max-width: 500px) {
   
    #Introducao {
        margin-left: 362px; 
    }

    #Formacao {
        margin-left: 543px;                                                                                                                         
    }

    #Sobre {
        margin-left: 543px;
        
    }  
 
    #Projetos {
        margin-left: 543px; 
    }

}

@media (max-height: 956px){      /* @MEDIA QUERY HEIGHT*/
    #links_internos {
        top: 170px;
          
    }
}

@media (max-height: 900px){      
    #links_internos {
        top: 150px;
          
    }
}    

@media (max-height: 850px){      
    #links_internos {
        top: 130px;
          
    }
}    

@media (max-height: 800px){      
    #links_internos {
        top: 100px;
          
    }
}    

@media (max-height: 750px){      
    #links_internos {
        top: 75px;
          
    }
}

@media (max-height: 700px){      
    #links_internos {
        top: 50px;
          
    }
}   

@media (max-height: 650px){      
    #links_internos {
        top: 25px;
          
    }
}
